<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Discourse</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="global.css">
</head>

<body>
	<div class="container w-100 min-vh-100 d-flex align-items-center justify-content-center flex-column">
		<h1>Discourse</h1>
		<h5 class="mb-4">A centralized voice chat for all users alike</h5>

		<div class="btn-group">
			<% if (user) { %>
				<a class="btn btn-outline-success rounded-sm" href="/core">Start Chatting</a>
				<a class="btn btn-outline-danger rounded-sm ml-3" href="/logout">Logout</a>
			<%} else { %>
				<a class="btn btn-outline-info rounded-sm" href="/login">Login</a>
			<% } %>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>